@import "vendors/prism-onedark";

@import "components/base";
@import "components/post";
@import "components/nav";
@import "components/form";
@import "components/timeline";

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
